@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0f172a;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    width: 100%;
}

@layer base {
    body {
        @apply bg-[#0f172a] text-[#f8fafc];
    }
}

@layer components {
    .btn-primary {
        @apply px-6 py-2 bg-[#10b981] hover:bg-[#059669] text-white font-bold rounded-lg transition-all duration-200 transform hover:scale-105;
    }

    .container-custom {
        @apply max-w-[1400px] mx-auto px-4 md:px-8;
    }
}